.app{
    background-color: lightblue;
}
.title-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.title-img{
    width: 425px;
}

.pokemonList{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pokeCard{
    background-color: lightgreen;
    text-align: center;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 8px #666;
    width: 270px;

}

.typeList{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.weaknessList{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}

h4{
    margin: 0px;
    padding: 5px;
    padding-top: 0px;
}

.type{
    margin: 0px;
    padding: 5px;
    padding-top: 0px;
}

.weakness{
    margin: 0px;
    padding: 5px;
    padding-top: 0px;
}

.search{
    display: flex;
    justify-content: center;
}

.searchBar{
    padding-left: 10px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
}

.searchBtn{
    width: 100px;
    height: 55px;
    background-color: yellow;
}

.filterHeader{
    margin: 18px;
}

.filterDiv{
    display: flex;
    margin-top: 20px;
}
.filter{
    width: 100px;
    height: 55px;
}

.clearButtonContainer{
    margin: 26px;
    padding-left: 15px;
}

.clearButton{
    width: 80px;
    height: 45px;
    color: black;
    font-size: 15px;
    border: none;
    box-shadow: 0px 0px 4px #666;
    border-radius: 10px;
    background-color: rgb(251, 204, 34);
}